<div class="container my-4" ctl-type="registra">

    <hr>

    <section id="register-form">

        <!-- Description -->
        <p>
        </p>

        <!--Grid row-->
        <div class="row d-flex justify-content-center">

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!--Title-->
                <h3 class="secondary-heading mb-3">
                    Default form register
                </h3>

                <!--Section: Live preview-->
                <section>

                    <!-- Default form register -->
                    <main class="text-center border border-light p-5">

                        <p class="h4 mb-4">Sign up</p>
                        <cropper-wc title="abc"></cropper-wc>
                        <small id="image-selector" class="form-text text-muted mb-4">
                            Create a Avatar
                        </small>
                        <div class="form-row mb-4">
                            <div class="col">
                                <!-- First name -->
                                <input type="text" id="defaultRegisterFormFirstName" c-type="lastname"
                                    class="form-control" placeholder="First name">
                            </div>
                            <div class="col">
                                <!-- Last name -->
                                <input type="text" id="defaultRegisterFormLastName" c-type="firstname"
                                    class="form-control" placeholder="Last name">
                            </div>
                        </div>


                        <!-- E-mail -->
                        <input type="email" id="email" class="form-control mb-4" c-type="email" placeholder="E-mail">

                        <input type="text" id="nickname" class="form-control mb-4" c-type="username"
                            placeholder="Nick name">

                        <input type="text" id="role" class="form-control mb-4" c-type="role" placeholder="Role">

                        <input type="number" id="balance" class="form-control mb-4" c-type="balance"
                            placeholder="Balance">

                        <!-- Password -->
                        <input type="password" id="password" class="form-control" c-type="password"
                            placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
                        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                            At least 8 characters and 1 digit
                        </small>

                        <!-- Phone number -->
                        <input type="text" id="phone" class="form-control" c-type="phone" placeholder="Phone number"
                            aria-describedby="defaultRegisterFormPhoneHelpBlock">
                        <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
                            Optional - for two step authentication
                        </small>

                        <!-- Newsletter -->
                        <!-- <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
                            <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our
                                newsletter</label>
                        </div> -->

                        <!-- Sign up button -->
                        <button class="btn btn-info my-4 btn-block waves-effect waves-light" type="">Sign
                            in</button>

                        <hr>

                        <!-- Terms of service -->
                        <p>By clicking
                            <em>Sign up</em> you agree to our
                            <a href="" target="_blank">terms of service</a>

                        </p>
                    </main>
                    <!-- Default form register -->

                </section>
                <!--Section: Live preview-->

            </div>
            <!--Grid column-->


        </div>
        <!--Grid row-->

    </section>

</div>
<script type="module" src="/Components/cropper/cropper.js"></script>

<script>
    ((elem) => {
        let user = {}
        let inputs = elem.querySelectorAll("input");
        inputs.forEach(element => {
            console.log(element, element.getAttribute('c-type'))
            element.addEventListener('change', (evt) => {
                // console.log(evt.target.value, evt.target.getAttribute('c-type'))
                user[evt.target.getAttribute('c-type')] = evt.target.value
            })
        });
        cropper = document.querySelector('cropper-wc')
        cropper.addEventListener('CROPPED', (evt) => {
            user.avatar = evt.detail['image']
            // console.log('here', user.avatar)
        })

        submitBnt = elem.querySelector('button')
        // console.log(submitBnt)
        submitBnt.addEventListener('click', () => {
            console.log("I am ready")

            function redirectPost(url, data) {
                var form = document.createElement('form');
                document.body.appendChild(form);
                form.method = 'post';
                form.action = url;
                for (var name in data) {
                    var input = document.createElement('input');
                    input.type = 'hidden';
                    input.name = name;
                    input.value = data[name];
                    form.appendChild(input);
                }
                form.submit();
            }

            redirectPost('/reg', { data: JSON.stringify(user) });
        })

    })(document.querySelector('[ctl-type = "registra"]'))
</script>