<div class="list-group-item object-div" style="border: none; " data-status="approved">
    <div class="container">
        <div class="row">
            <div class="col-3" style="margin: auto">
                <div class="image-container" style="width: 193px; max-width: 256px; height: auto; max-height: 192px;">
                    <img alt="" style="width: 100%; height: auto;"
                        src="https://rawgit.com/PhanHoangAnh/CreateDynamicAttributeSets/master/materials/sample.jpg">

                </div>
            </div>
            <div class="col" style="margin: auto;">
                <p class="h4 mb-4 contract-title">mau hop dong the chap</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis totam, qui, omnis
                    perspiciatis
                    dicta
                    laboriosam, enim voluptas fuga facilis eveniet mollitia nisi sunt iure quos odio similique
                    molestiae.
                    Voluptatibus, id!</p>
            </div>
            <div class="col-2 btn-options" style="margin: auto;">
                <button class="btn btn-default btn-sm waves-effect waves-light" id="btn-complete">Complete</button>
                <!-- <button class="btn btn-secondary btn-sm" id="btn-complete">Complete</button> -->
            </div>
        </div>
    </div>

</div>