<gameUser>
    <div class="list-group-item object-div" style="border: none; " data-status="approved">
        <div class="container">
            <div class="row">
                <div class="col-3" style="margin: auto">
                    <div class="image-container"
                        style="width: 193px; max-width: 256px; height: auto; max-height: 192px;">
                        <img alt="" style="width: 100%; height: auto;" comp-role="avatar"
                            src="https://rawgit.com/PhanHoangAnh/CreateDynamicAttributeSets/master/materials/sample.jpg">

                    </div>
                </div>
                <div class="col" style="margin: auto;">
                    <p class="h4 mb-4 contract-title"><span comp-role="lastname">Adam Smith</span>&nbsp;<span
                            comp-role="firstname"></span></p>

                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Nickname:</th>
                                <td comp-role="username">Mark</td>
                            </tr>
                            <tr>
                                <th scope="row">Balance:</th>
                                <td comp-role="balance">$ 2354254</td>
                            </tr>
                            <tr>
                                <th scope="row">Phone:</th>
                                <td comp-role="phone">965823541</td>
                            </tr>
                            <tr>
                                <th scope="row">Role:</th>
                                <td comp-role="role">Admin</td>
                            </tr>
                            <tr>
                                <th scope="row">Token:</th>
                                <td comp-role="token">Admin</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-2 btn-options" style="margin: auto;">
                    <button class="btn btn-default btn-sm waves-effect waves-light" comp-id="btn-edit">Subtract 100 token</button>
                    <!-- <button class="btn btn-secondary btn-sm" id="btn-complete">Complete</button> -->
                </div>
            </div>
        </div>

    </div>
</gameUser>