<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="/mdbootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/mdbootstrap/css/mdb.min.css" rel="stylesheet">
    <link href="/mdbootstrap/css/style.css" rel="stylesheet">
</head>

<body>
    <h1>This is GamePage in sampleGameProvider</h1>
    <gameUser>
        <div class="list-group-item object-div" style="border: none; " data-status="approved">
            <div class="container">
                <div class="row">
                    <div class="col-3" style="margin: auto">
                        <div class="image-container"
                            style="width: 193px; max-width: 256px; height: auto; max-height: 192px;">
                            <img alt="" style="width: 100%; height: auto;" comp-role="avatar"
                                src="https://rawgit.com/PhanHoangAnh/CreateDynamicAttributeSets/master/materials/sample.jpg">

                        </div>
                    </div>
                    <div class="col" style="margin: auto;">
                        <p class="h4 mb-4 contract-title"><span comp-role="lastname">Adam Smith</span>&nbsp;<span
                                comp-role="firstname"></span></p>

                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Nickname:</th>
                                    <td comp-role="username">Mark</td>
                                </tr>
                                <tr>
                                    <th scope="row">Balance:</th>
                                    <td comp-role="balance">$ 2354254</td>
                                </tr>
                                <tr>
                                    <th scope="row">Phone:</th>
                                    <td comp-role="phone">965823541</td>
                                </tr>
                                <tr>
                                    <th scope="row">Role:</th>
                                    <td comp-role="role">Admin</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-2 btn-options" style="margin: auto;">
                        <button class="btn btn-default btn-sm waves-effect waves-light" comp-id="btn-edit">Edit</button>
                        <!-- <button class="btn btn-secondary btn-sm" id="btn-complete">Complete</button> -->
                    </div>
                </div>
            </div>

        </div>
    </gameUser>


    <script src="/mdbootstrap/js/jquery.min.js"></script>
    <script src="/mdbootstrap/js/popper.min.js"></script>
    <script src="/mdbootstrap/js/bootstrap.min.js"></script>
    <script src="/mdbootstrap/js/mdb.min.js"></script>
    <script>

        if (window.self == window.top) {
            // get JWT1 from storage
            const JWT1 = localStorage.getItem("jwt1")
            console.log('JWT1', JWT1)
            // send ajax to gameAuthenticationModule to get user information ?? may not need

        } else {
            window.addEventListener("message", receiveMessage, false);
            function receiveMessage(evt) {
                console.log("JWT from iFrame: ", evt.data)
                // if (event.origin !== "localhost:3001") {
                //     return;
                // }
                // 1. get aliasJWT1 from parent windows
                let aliasJWT = JSON.parse(evt.data)['accessToken']
                console.log(aliasJWT)
                // 2. sen back aliasJWT1 to sampleGameProvider to exchange real JWT1 and userInformation
                sendObj = {
                    aliasJWT: aliasJWT
                }
                console.log('alias', aliasJWT)
                doAjax({
                    url: '/aliasjwt'
                    , contentType: "application/json"
                    , payload: JSON.stringify(sendObj)
                    , handler: function (response) {
                        updateUserInfo(JSON.parse(response))

                        console.log(response)
                        // Update UserInfor here
                    }
                })
            }
        }

        function doAjax(request) {
            var ajax = new XMLHttpRequest();
            ajax.open("POST", request.url, false)
            ajax.setRequestHeader("Content-type", request.contentType)
            ajax.onreadystatechange = function () {
                if (ajax.readyState == 4) {
                    if (ajax.status === 200) {
                        request.handler.call(request, ajax.responseText)
                    } else {
                        console.log('Error', ajax.statusText)
                    }

                }
            }
            ajax.send(request.payload)
        }

        function updateUserInfo(userInfo) {
            user = document.querySelector('gameUser')
            for (const [key, value] of Object.entries(userInfo)) {
                if (user.querySelector(`[comp-role="${key}"]`) && key !== "avatar") {
                    user.querySelector(`[comp-role="${key}"]`).innerHTML = value;
                    // console.log(tempContent.querySelector(`[comp-role="${key}"]`))

                }
                if (key == 'avatar') {
                    user.querySelector(`[comp-role="avatar"]`).src = "https://localhost:3000"+value
                    // console.log(tempContent.querySelector(`[comp-role="avatar"]`))
                }
            }

        }

    </script>
</body>

</html>