<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>


    <!-- Bootstrap core CSS -->
    <link href="/mdbootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/mdbootstrap/css/mdb.min.css" rel="stylesheet">
    <link href="/mdbootstrap/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- libs scripts -->
    <%- include('./partials/regform')%>
    <script src="/mdbootstrap/js/jquery.min.js"></script>
    <script src="/mdbootstrap/js/popper.min.js"></script>
    <script src="/mdbootstrap/js/bootstrap.min.js"></script>
    <script src="/mdbootstrap/js/mdb.min.js"></script>
</body>

</html>